@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
}
a{
    text-decoration: none;
    font-family: sans-serif;
}
.header{
    background-color: rgba(0, 0, 0, 0.94);
    padding-inline: 16px;
}
.nav{
    max-width: 1280px;
    height: 70px;
    margin-inline: auto;
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.logo{
    font-size:48px;
}
.nav-list{
    display: flex;
    gap: 32px;
    list-style: none;
}
.nav-list a{
    color: white;
    font-size: 18px;
    padding-block: 16px;
}
.hero{
    height: calc(100vh - 70px);
    background: center/ cover no-repeat url("pexels-cemrecan-yurtman-17167905.jpg");
}
.hamburger{
    display: none;
    border: none;
    background: none;
    border-top: 3px solid #fff;
    cursor: pointer;
}
.hamburger::before,
.hamburger::after {
    content: " ";
    display: block;
    width: 30px;
    height: 3px;
    background-color: #fff;
    margin-top: 5px;

}
@media (max-width: 750px){
    .hamburger{
        display: block;
        z-index: 1;

    }
    .nav-list{
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100vw;
        height: 100vh;
        background: rgba(0, 0, 0, 0.94);
        clip-path: circle(100px at 90% -15%);
        transition: 1s ease-out;

        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        gap: 0px;
        pointer-events: none;
    }

    /*Estilos ativos*/

    .nav.active .nav-list{
        clip-path: circle(1500px at 90% -15%);
        pointer-events: all;
    }
}
